body {

    background-color: rgb(17, 78, 78);
}

h1 {

    color: rgb(51, 2, 2);
    text-align: center;
    background-color: rgb(228, 228, 240);
}

header {
    border-bottom: 10px solid pink;
    border-radius: 30px;
}

select {
    color: black;
    padding: 10px;
    background-color: aqua;
    border: 10px solid pink;
    font-weight: bolder;
    font-size: larger;
}

 option {
    color: navy;
    background-color: rgb(232, 232, 241);
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
}

div {
    color: navy;
    background-color: rgb(232, 232, 241);
    border-radius: 5px;}

img {
    max-width: 80%;
}
footer {
    color: rgb(51, 2, 2);
    text-align: center;
    background-color: rgb(228, 228, 240);
    font-weight: bolder;
    font-size: large;
}