h1 {
    margin: 30px auto; 
}

/* header  {
    display: flex;
    justify-content: flex-end;
} */

div {
    float: left;
    height: 500px;
    margin: 3em;
    width: 300px;
    text-align: center;
  }
  
main {
    overflow:hidden;
  }

header {
    text-align: center;
    margin: 20px auto;
}

footer {

    margin: 30px auto;
}